<!DOCTYPE html>
<html>
  <head>
    <title>Base Camp</title>
    <!-- jQuery CDN -->
    <script   src="https://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="   crossorigin="anonymous"></script>

    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
   <div class="nav-wrapper green">
     <a href="#" class="brand-logo">Base Camp</a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li><a href="/logout">{{logout}}</a></li>
       <!-- there will be two handlebars tags in the nav bar. One will be active only when there is no session info, so when the user is not logged in and the second will have all the navigation info for moving thru diff pages when the users is logged in.
       for when user is not logged in
       for when the user is logged in -->
     </ul>
   </div>
 </nav>

    {{{body}}}

  </body>
</html>
